version: '3.8'
services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    command: 'python main.py'
    ports:
      - 8001:5000
    volumes:
      - .:/app
    depends_on:
      - db

  queue:
    build:
      context: .
      dockerfile: Dockerfile
    command: 'python -u consumer.py'
    depends_on:
      - db

  db:
    platform: linux/x86_64
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: adminmaindb
      MYSQL_USER: root
      MYSQL_PASSWORD: Admin123456/
      MYSQL_ROOT_PASSWORD: Admin123456/
    volumes:
      - .dbdata:/var/lib/mysql
    ports:
      - 33067:3306

  